---

_You are currently looking at **version 1.0** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

In [1]:
import pandas as pd
import numpy as np
from scipy.stats import ttest_ind

# Assignment 4 - Hypothesis Testing
This assignment requires more individual learning than previous assignments - you are encouraged to check out the [pandas documentation](http://pandas.pydata.org/pandas-docs/stable/) to find functions or methods you might not have used yet, or ask questions on [Stack Overflow](http://stackoverflow.com/) and tag them as pandas and python related. And of course, the discussion forums are open for interaction with your peers and the course staff.

Definitions:
* A _quarter_ is a specific three month period, Q1 is January through March, Q2 is April through June, Q3 is July through September, Q4 is October through December.
* A _recession_ is defined as starting with two consecutive quarters of GDP decline, and ending with two consecutive quarters of GDP growth.
* A _recession bottom_ is the quarter within a recession which had the lowest GDP.
* A _university town_ is a city which has a high percentage of university students compared to the total population of the city.

**Hypothesis**: University towns have their mean housing prices less effected by recessions. Run a t-test to compare the ratio of the mean price of houses in university towns the quarter before the recession starts compared to the recession bottom. (`price_ratio=quarter_before_recession/recession_bottom`)

The following data files are available for this assignment:
* From the [Zillow research data site](http://www.zillow.com/research/data/) there is housing data for the United States. In particular the datafile for [all homes at a city level](http://files.zillowstatic.com/research/public/City/City_Zhvi_AllHomes.csv), ```City_Zhvi_AllHomes.csv```, has median home sale prices at a fine grained level.
* From the Wikipedia page on college towns is a list of [university towns in the United States](https://en.wikipedia.org/wiki/List_of_college_towns#College_towns_in_the_United_States) which has been copy and pasted into the file ```university_towns.txt```.
* From Bureau of Economic Analysis, US Department of Commerce, the [GDP over time](http://www.bea.gov/national/index.htm#gdp) of the United States in current dollars (use the chained value in 2009 dollars), in quarterly intervals, in the file ```gdplev.xls```. For this assignment, only look at GDP data from the first quarter of 2000 onward.

Each function in this assignment below is worth 10%, with the exception of ```run_ttest()```, which is worth 50%.

In [2]:
# Use this dictionary to map state names to two letter acronyms
states = {'OH': 'Ohio', 'KY': 'Kentucky', 'AS': 'American Samoa', 'NV': 'Nevada', 'WY': 'Wyoming', 'NA': 'National', 'AL': 'Alabama', 'MD': 'Maryland', 'AK': 'Alaska', 'UT': 'Utah', 'OR': 'Oregon', 'MT': 'Montana', 'IL': 'Illinois', 'TN': 'Tennessee', 'DC': 'District of Columbia', 'VT': 'Vermont', 'ID': 'Idaho', 'AR': 'Arkansas', 'ME': 'Maine', 'WA': 'Washington', 'HI': 'Hawaii', 'WI': 'Wisconsin', 'MI': 'Michigan', 'IN': 'Indiana', 'NJ': 'New Jersey', 'AZ': 'Arizona', 'GU': 'Guam', 'MS': 'Mississippi', 'PR': 'Puerto Rico', 'NC': 'North Carolina', 'TX': 'Texas', 'SD': 'South Dakota', 'MP': 'Northern Mariana Islands', 'IA': 'Iowa', 'MO': 'Missouri', 'CT': 'Connecticut', 'WV': 'West Virginia', 'SC': 'South Carolina', 'LA': 'Louisiana', 'KS': 'Kansas', 'NY': 'New York', 'NE': 'Nebraska', 'OK': 'Oklahoma', 'FL': 'Florida', 'CA': 'California', 'CO': 'Colorado', 'PA': 'Pennsylvania', 'DE': 'Delaware', 'NM': 'New Mexico', 'RI': 'Rhode Island', 'MN': 'Minnesota', 'VI': 'Virgin Islands', 'NH': 'New Hampshire', 'MA': 'Massachusetts', 'GA': 'Georgia', 'ND': 'North Dakota', 'VA': 'Virginia'}

import pandas as pd
import numpy as np
from scipy.stats import ttest_1samp
from scipy.stats import normaltest
import re

In [13]:
df1 = pd.read_csv("City_Zhvi_AllHomes.csv", usecols=['State', 'RegionName'])

In [15]:
df1['State'] = df1.State.apply(lambda x: states[x])

In [16]:
df1.head()

     RegionName         State
0      New York      New York
1   Los Angeles    California
2       Chicago      Illinois
3  Philadelphia  Pennsylvania
4       Phoenix       Arizona

In [17]:
def cleaner(x):
    res = x.split('(')[0]
    if '[edit' in res:
        res = res.split('[')[0]
    return res

In [18]:
df2 = pd.read_table('university_towns.txt', header=None)

In [ ]:
df1.head()

In [19]:
df2.head()

                                                 0
0                                    Alabama[edit]
1                    Auburn (Auburn University)[1]
2           Florence (University of North Alabama)
3  Jacksonville (Jacksonville State University)[2]
4       Livingston (University of West Alabama)[2]

In [53]:
def cleaner(x):
    res = x.split('(')[0]
    if '[' in res:
        res = res.split('[')[0]
    return res

In [119]:
df = pd.read_table('university_towns.txt', header=None).rename(columns={0:"RegionName"})

In [120]:
df["State"] = df.applymap(lambda x: 'edit' in x)

In [121]:
df["RegionName"] = df.RegionName.apply(cleaner)

In [122]:
df["State"] = df.RegionName[df.State]
df["State"].fillna(method='ffill', inplace=True)

                        RegionName          State
1                          Auburn         Alabama
2                        Florence         Alabama
3                    Jacksonville         Alabama
4                      Livingston         Alabama
5                      Montevallo         Alabama
6                            Troy         Alabama
7                      Tuscaloosa         Alabama
8                        Tuskegee         Alabama
10                      Fairbanks          Alaska
12                      Flagstaff         Arizona
13                          Tempe         Arizona
14                         Tucson         Arizona
16                    Arkadelphia        Arkansas
17                         Conway        Arkansas
18                   Fayetteville        Arkansas
19                      Jonesboro        Arkansas
20                       Magnolia        Arkansas
21                     Monticello        Arkansas
22                   Russellville        Arkansas
23                         Searcy        Arkansas
25                         Angwin      California
26                         Arcata      California
27                       Berkeley      California
28                          Chico      California
29                      Claremont      California
30                         Cotati      California
31                          Davis      California
32                         Irvine      California
33                     Isla Vista      California
34   University Park, Los Angeles      California
..                             ...            ...
533                          Wise        Virginia
534                    Chesapeake        Virginia
536                    Bellingham      Washington
537                        Cheney      Washington
538                    Ellensburg      Washington
539                       Pullman      Washington
540  University District, Seattle      Washington
542                        Athens   West Virginia
543                    Buckhannon   West Virginia
544                      Fairmont   West Virginia
545                     Glenville   West Virginia
546                    Huntington   West Virginia
547                    Montgomery   West Virginia
548                    Morgantown   West Virginia
549                 Shepherdstown   West Virginia
550                  West Liberty   West Virginia
552                      Appleton       Wisconsin
553                    Eau Claire       Wisconsin
554                     Green Bay       Wisconsin
555                     La Crosse       Wisconsin
556                       Madison       Wisconsin
557                     Menomonie       Wisconsin
558                     Milwaukee       Wisconsin
559                       Oshkosh       Wisconsin
560                   Platteville       Wisconsin
561                   River Falls       Wisconsin
562                 Stevens Point       Wisconsin
563                      Waukesha       Wisconsin
564                    Whitewater       Wisconsin
566                       Laramie         Wyoming

[517 rows x 2 columns]

In [10]:
def get_list_of_university_towns():
    '''Returns a DataFrame of towns and the states they are in from the 
    university_towns.txt list. The format of the DataFrame should be:
    DataFrame( [ ["Michigan","Ann Arbor"], ["Michigan", "Yipsilanti"] ], 
    columns=["State","RegionName"]  )'''
    def cleaner(x):
        res = x.split('(')[0]
        if '[' in res:
            res = res.split('[')[0]
        return res

    df = pd.read_table('university_towns.txt', header=None).applymap(cleaner)
    df.apply(lambda x: 'edit' in x)
    return df[['State', 'RegionName']]

In [50]:
def get_recession_start():
    '''Returns the year and quarter of the recession start time as a 
    string value in a format such as 2005q3'''
    df = pd.read_excel("gdplev.xls", skiprows=5, index_col=4)
    df = df.iloc[2:, 5].loc["2000q1":]
    c1 = df.pct_change().shift(1) < 0
    c2 = df.pct_change() < 0
    c3 = df.pct_change().shift(-1) > 0
    return (c1 & c2 & c3).argmax()

In [44]:
get_recession_start()

'2009q2'

In [51]:
def get_recession_end():
    '''Returns the year and quarter of the recession end time as a 
    string value in a format such as 2005q3'''
    df = pd.read_excel("gdplev.xls", skiprows=5, index_col=4)
    df = df.iloc[2:, 5].loc["2000q1":]
    c1 = df.pct_change().shift(-1) < 0
    c2 = df.pct_change() < 0 
    c3 = df.pct_change().shift(-1) > 0
    return (c1 & c2 & c3)[::-1].argmax()

In [52]:
get_recession_end()

'2016q2'

In [ ]:
def get_recession_bottom():
    '''Returns the year and quarter of the recession bottom time as a 
    string value in a format such as 2005q3'''
    df = pd.read_excel("gdplev.xls", skiprows=5, index_col=4)
    df = df.dropna(how='all').dropna(how='all', axis=1)
    start = get_recession_start()
    end = get_recession_end()
    return df.loc[start:end, 'GDP in billions of current dollars'].idxmin()

In [ ]:
def convert_housing_data_to_quarters():
    '''Converts the housing data to quarters and returns it as mean 
    values in a dataframe. This dataframe should be a dataframe with
    columns for 2000q1 through 2016q3, and should have a multi-index
    in the shape of ["State","RegionName"].
    
    Note: Quarters are defined in the assignment description, they are
    not arbitrary three month periods.
    
    The resulting dataframe should have 67 columns, and 10,730 rows.
    '''
    house_df = pd.read_csv('City_Zhvi_AllHomes.csv')
    house_df
    
    return house_df

In [2]:
def run_ttest():
    '''First creates new data showing the decline or growth of housing prices
    between the recession start and the recession bottom. Then runs a ttest
    comparing the university town values to the non-university towns values, 
    return whether the alternative hypothesis (that the two groups are the same)
    is true or not as well as the p-value of the confidence. 
    
    Return the tuple (different, p, better) where different=True if the t-test is
    True at a p<0.01 (we reject the null hypothesis), or different=False if 
    otherwise (we cannot reject the null hypothesis). The variable p should
    be equal to the exact p value returned from scipy.stats.ttest_ind(). The
    value for better should be either "university town" or "non-university town"
    depending on which has a lower mean price ratio (which is equivilent to a
    reduced market loss).'''
    
    recStart = get_recession_start()
    recEnd = get_recession_end()
    recBottom = get_recession_bottom()
    housingDF = convert_housing_data_to_quarters()
    uniDF = get_list_of_university_towns()
    uniDF.set_index(['State', 'RegionName'], inplace=True)
    
    colInds = [colN for colN, thisCol in enumerate(housingDF.columns) if thisCol == recStart or thisCol == recBottom]
    sbDF = housingDF.loc[:,housingDF.columns[colInds[0]-1]:housingDF.columns[colInds[1]]]
    diffCols = [thisCol+'-'+sbDF.columns[colN+1] for colN, thisCol in enumerate(sbDF.columns) if colN < 4]

    uni_sb_diffDF = (pd.merge(sbDF, uniDF, how='inner', left_index=True, right_index=True)
                     )
    uni_sb_diffDF['Price Ratio'] = np.divide(uni_sb_diffDF[uni_sb_diffDF.columns[0]],uni_sb_diffDF[uni_sb_diffDF.columns[3]])
    uni_sb_diffDF.dropna(inplace=True)
    
    nonUni_sb_diffDF = sbDF.drop(uni_sb_diffDF.index)
    nonUni_sb_diffDF['Price Ratio'] = np.divide(nonUni_sb_diffDF.loc[:,nonUni_sb_diffDF.columns[0]],nonUni_sb_diffDF.loc[:,nonUni_sb_diffDF.columns[3]])
    nonUni_sb_diffDF.dropna(inplace=True)
   

    if uni_sb_diffDF['Price Ratio'].mean() > nonUni_sb_diffDF['Price Ratio'].mean():
        
        better = "non-university town"
    else:
        
        better = "university town"

    
    firstT = ttest_ind(uni_sb_diffDF['Price Ratio'], nonUni_sb_diffDF['Price Ratio'])
    p=firstT.pvalue
    
    if p>0.01:
        different = False
        return (different, p, better)
        
    elif p<0.01:
        different = True
        return (different, p, better)